body {
   background-color: rgb(255, 243, 225);
   margin: 0;
}


form {
    margin-top: 20px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray;
    border-radius: 20px;
    margin-bottom: 0px;
    border: solid 2px black;
    height: 430px;
    padding-top: 30px;
}

.cab{
    text-align: center;
    background-color: gray;
    padding: 5px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
   
}


ul {
    list-style-type: none;
    
}

li {
    float: left;
    padding: 0px 30px;
}

li a {  
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

h2 {
    text-align: center;

}

.entrada {
    text-align: center;
}

.pessoal{
    margin-top: 0px;
    margin-left: 60px;
    padding: 1px;
    font-size: 14px;
    display: flex;
    width: 500px;
    flex-direction: column;
    float: left;
}
label {
    margin-top: 0px;
    font-weight: 400;
}

.loc {
    margin-left: 50px;
    margin-top: 0px;
    padding: 1px;
    font-size: 14px;
    display: flex;
    width: 500px;
    flex-direction: column;
    float: left;
}

#ul-direita {
    width: 500px;
}

input {
    margin-top: -14px;
    border-radius: 5px;
    border: solid black 1px;
}

select {
    margin-top: -14px;
    border-radius: 5px;
    border: solid black 1px;
}

.rodap {
    margin-top: 80px;
    background-color: gray;
    padding: 10px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    text-align: center;
}

input[type="submit"] {
    margin-top: 80px;
    width: 60px;
    margin-left: 35%;
    background-color: greenyellow;
    cursor: pointer;
}

input[type="reset"] {
    width: 60px;
    margin-left: 5%;
    background-color: greenyellow;
    cursor: pointer;
    margin-top: 80px;
}

.botao input:hover {
    color: #333333ab;
    background-color: gray;
}

.botao {
    display: flex;
    float: left;

}