body {
    background-color: grey;
    margin: 0%;
}

.nome {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(88, 87, 87);
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(88, 87, 87);
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid 2px black;
    
}

input {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    text-align: justify;
    border: solid 2px black;
    margin-bottom: 10px;
}

label {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    
}
input[type="image"] {
    background-color: white;
}

select {
    border: solid 2px black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px ;
    width: 70px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin-left: 42%;
}

.barra{
    display: flex;
    background-color: rgb(88, 87, 87);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    
    
}

ul {
    list-style-type: none;
    margin-left: 320px;
    
}

li {
    float: left;
    padding: 10px 50px;
    
}

li a {
    text-decoration: none;
    color: black;
    flex-direction: row;
}

.barra a:hover {
    color: #333;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
}