body {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    display: flex;
  }
 h1 {
    color: wheat;
    text-align: center;
    border: 2px solid wheat;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 500px;
  margin-left: 500px;

}
p {
    color: wheat;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    text-indent: 20px;
   
}

img {
    border: solid wheat;
    justify-self:center ;
    width: 800px;
    align-self: center;
   
}

table {
    margin-top: 5px;
}

table, th, td {
    color: wheat;
    border: 1px solid wheat;
}

tr {
    text-align: center;
}

tr td:hover{
    background-color: wheat ;
    color: black;
}
h2 {
    color: wheat;
    text-align: center;
    margin-top: 50px;
}
th {
    font-size: 20px;
    color: black;
    background-color: wheat;
}

button {
    color: wheat;
    background-color: rgb(255, 0, 0);
    margin-top: 30px;
    margin-left: 600px;
    margin-right: 600px;
    border: 2px solid wheat;
}

a{
    color: wheat;
}